Click==7.0
decorator==4.4.0
Django==2.1.7
django-rest==0.0.1
djangorestframework==3.9.2
djangorestframework-stubs==0.3.0
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
public==2019.3.22
Pygments==2.3.1
pytz==2018.9
reverse==0.1.0
self==2019.3.22
Werkzeug==0.14.1
